/* 

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 
30 / 36 / 44 / 52 / 
62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing:
-0.5px
0.50px
0.75px

--- 02 COLORS

- Primary: #a4161a 

- Tints:

- Shades: 
#660708 (dark primary color) 

- Accents:
- Greys: 

#161a1d (font color) - #404C55 (light verison)

#F5F5F5 (lightest grey) 
#f5f3f4 (regular grey)


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 1000px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
 64 / 80 / 96 / 128

*/
/* ---------------------- */
/* GENERAL AND REUSABLE COMPONENTS */
/* ---------------------- */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 1.8rem;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.btn:link,
.btn:visited{
    display:inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 1000px;
    transition: all 0.3s;
}
.grid{
    display: grid;
    align-items:center;
    column-gap:8rem;
    row-gap: 9.6rem;
}
.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}
.margin-bottom-md{
    margin-bottom: 6.4rem !important;
}
.margin-bottom-lg{
    margin-bottom: 9.6rem !important;
}
.margin-bottom-xlg{
    margin-bottom: 12.8rem !important;
}
.heading-primary,
.heading-secondary{
    color: #161a1d;
    font-weight: 700;
    letter-spacing: -0.5px;

}

.heading-primary{
    font-size: 5.6rem;
    line-height: 1.05;
    margin-bottom: 6.4rem;
}
.heading-secondary{
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 4.8rem;
}

.subheading{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.75px;
    display: block;
    color: #a4161a;
    margin-bottom: 1.6rem;
}
.text-content{
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

.center-content{
    text-align:center;
}


/* ---------------------- */
/* HEADER */
/* ---------------------- */
.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color:#fff; 

    height: 10rem; 
    padding: 0 4.8rem;
    margin-bottom: 8rem;
}
.logo{
    height: 8rem;
}

/* ---------------------- */
/* NAVIGATION */
/* ---------------------- */
.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited{
    display:inline-block;
    text-decoration:none;
    font-weight: 500;
    font-size: 1.8rem;
    color: #161a1d;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active{
    color: #a4161a; 
}
.nav-cta:link,
.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 1000px;
    background-color: #a4161a;
    color: #fff;
}
.nav-cta:hover,
.nav-cta:active{
    background-color:#660708 ;
}
/* ---------------------- */
/* HERO SECTION */
/* ---------------------- */
.section-hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display:grid;
    align-items:center;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
    /* border: 2px solid blue;
    background-color: pink; */
}
.hero-img{
    width: 100%;
    height: auto;
}
.heading-primary{
    font-size: 5.6rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    letter-spacing: -0.5px;
    color: #161a1d; 
    font-weight:700; 
}
.hero-description{
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}
.hero-btn:link,
.hero-btn:visited{
    background-color: #a4161a;
    color: #fff;
}
.hero-btn:hover,
.hero-btn:active{
    background-color: #660708;
}


/* ---------------------- */
/* ABOUT US SECTION */
/* ---------------------- */
.section-about{
    /* border: 2px solid blue;
    background-color: pink; */
    padding: 8rem 3.2rem 4.8rem 3.2rem;
}
.about-img{
    width: 100%;
    height: auto;
}



/* ---------------------- */
/* TESTIMONIALS SECTION */
/* ---------------------- */
.section-testimonials{
    background-color: #F5F5F5;
    padding: 9.6rem 8rem 8rem 8rem;
}
.testimonial-img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.profiles-box{
    align-items: start;
}
.testimonial-profile-header{
    margin-bottom: 2.4rem;
    display: flex;
    align-items: flex-end;
    gap: 3.2rem;
}
.testimonial-name,
.testimonial-text{
    line-height:1.8;
    color: #404C55;
}
.testimonial-name{
    font-weight: 500;
}


/* ---------------------- */
/* GALLERY SECTION */
/* ---------------------- */
.gallery-grid{
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    align-items: end;
    gap: 1.6rem;
    grid-template-columns: repeat(3, 1fr);
}
.gallery-grid div{
    overflow:hidden;
}
.gallery-img{
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.4s;
}
.gallery-img:hover{
    transform: scale(1.1);
}


/* ---------------------- */
/* PRICING / SERVICES SECTION */
/* ---------------------- */
.section-pricing--content{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    margin: 0 auto;
    column-gap: 4.8rem;
    margin-bottom: 2.4rem;
}
/* Additional Services */
.add-services{
    background-color: #F5F5F5;
    padding: 4.8rem 3.2rem;
}
.add-services--heading,
.packages-heading{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.50px;
    color: #404C55;
    margin-bottom: 4rem;
}
.add-serivces--list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.add-services--items{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #404C55;
}
.add-services--icon,
.package-icon,
.icon-style{
    width: 3rem;
    height: 3rem;
    color: #a4161a;
}
/* Packages */
.packages-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
}
.package-card{
    padding: 3.2em 3.2rem;
    color: #404C55;
    box-shadow: 0 2rem 3.8rem rgba(0, 0, 0, 0.06);
    transition: all 0.5s;
    display: flex; 
    flex-direction: column;
    gap: 6.4rem;
    justify-content: space-between;

}
.package-card:hover{
    transform: translateY(-1.5rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.085);
}
.package-card-header{
    text-align: center;
    margin-bottom: 6.4rem;
}
.package-heading{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #a4161a;
    margin-bottom: 3.2rem;
}
.package-subheading{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2.4rem;
}
.package-price span{
    font-size: 1.6rem;
}
.package-price{
    font-size: 4.4rem;
    letter-spacing: 0.75px;
}
.package-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    line-height: 1.6;
}
.package-list--items{
    display:flex;
    gap: 1.6rem;
    align-items:center;
}
.package-cta{
    text-align: center;
}
.package-btn:link,
.package-btn:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 1000px;
    background-color: #fff;
    border: 2px solid #a4161a;
    color: #a4161a;
    transition: all 0.5s;
}
.package-btn:hover,
.package-btn:active{
    background-color: #a4161a;
    color: #fff;
}
.platinum-pack{
    border-top: 7px solid #a4161a;
}
.express-pack{
    border-top: 7px solid #a4161a;
}

.section-package--info{
    color: #404C55;
    line-height: 1.6;
    text-align: center;
}
.section-package--info p{
    margin-bottom: 3.6rem;
    font-size: 1.6rem;
}
.more-packages-link{
    gap: 1.6rem;
}
.more-packages-link div{
    display:flex;
    align-items: center;
    gap: .8rem;
}
.more-packages-link:link,
.more-packages-link:visited{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #a4161a;
    font-size: 2.2rem;
    border-bottom: solid 2px #a4161a;
    transition: all 0.3s;
    padding-bottom: 0.2rem;
}
.more-packages-link:hover,
.more-packages-link:active{
    border-bottom: solid 2px #fff;
}

/* ---------------------- */
/* FAQs SECTION */
/* ---------------------- */
.accordion{
    width: 100rem;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    gap: 2.4rem;
}
.item{
    padding: 2.4rem;
    box-shadow: 0 0 3.2rem rgba(0,0,0, 0.1);
}
.item-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-question{
    color: #404C55;
    font-size: 2.4rem;
    font-weight: 500;
}
.faq-text{
    color: #404C55;
    line-height: 1.8;
    padding-top: 3.2rem;
}
.faq-content{
    display: none;
}
.active-content .faq-content{
    display: block;
}

/* ---------------------- */
/* CTA SECTION */
/* ---------------------- */
.cta{
    background-image: linear-gradient(to right bottom, #731013, #CB1C21 );
    max-width: 100rem;
    margin: 0 auto;
    padding: 4.8rem 3.2rem;
    color: #fff;
    box-shadow: 0 2rem 3.2rem rgba(0,0,0, 0.2);
}
.cta-text-box{
    display: flex;
}
.cta-heading{
    font-weight: 500;
    font-size: 3.6rem;
    letter-spacing: 0.75px;
}
.cta 
button,
input, 
select, 
textarea {
    font-family: inherit;
}
.cta-form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}
.cta-form input, 
.cta-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    color: #404C55;
}
.cta-form input::placeholder{
    color: #aaa;
}
.checkbox-style label{
    display: inline;

}
.checkbox-item{
    display: flex;

}
